<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let articulo of articulos">
          <div class="card h-100">
            <img [src]="articulo.imagen" class="card-img-top" alt="{{ articulo.descripcion }}">
            <div class="card-body">
              <h5 class="card-title">{{ articulo.descripcion }}</h5>
              <p class="card-text">Precio: {{ articulo.precio | currency }}</p>
              <p class="card-text">Disponibles: {{ articulo.codigo }}</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-outline-primary" (click)="this.as.notifyAdd(articulo)">Comprar</button>
            </div>
          </div>
        </div>
      </div>
</div>